## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
n1 = 6
print(n1)

6

2) Imprimir el tipo de dato de la variable 8.5

In [1]:
n2 = float(8.5)
print(type(n1))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(n1))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
nombre = "Matias"

5) Crear una constante que contenga el número Pi

In [5]:
import math
PI = math.pi

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [ ]:
import math

ne=round(math.e, 4)

print(ne)

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
var = "True"

var2 = True

comparacion = var == var2

print(comparacion)

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [ ]:
var = "True"

var2 = True

print(type(var))
print(type(var2))

10) Asignar a una variable, la suma de un número entero y otro decimal

In [ ]:
n1 = 1
n2 = 2.5

suma = n1 + n2

print(suma)

11) Realizar una operación de suma de un número definido como string con un entero

In [ ]:
num1 = "1"
num2 = 2

suma = int(num1) + num2

print(suma)

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [ ]:
var = ne ** 3

print(var)

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [ ]:
var = input("Ingrese un numero")
var2 = input("Ingrese otro numero")

mult = int(var)*int(var2)

print(mult)

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [ ]:
Cociente = 27/4

print(Cociente)

15) De la división anterior solamente mostrar la parte entera

In [ ]:
Cociente = 27/4

print(int(Cociente))

16) De la división de 27 entre 4 mostrar solamente el resto

In [ ]:
Cociente = 27%4

print(Cociente)

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [ ]:
operacion = 4*6 + 3

print(operacion)

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
var1 = "2"

var2 = 2

comparacion = var1==var2

print(comparacion)

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [ ]:
var1 = "2"

var2 = 2

comparacion = int(var1)==var2

print(comparacion)

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
#Da error ya que estamos utilizando una coma, y en python para numeros decimales usamos el punto

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
#No esta permitido ya que no podemos operar entre un string y un entero, si siempre arrojaria el mismo resultado ya que ambas son variables constantes

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [8]:
menu = [
"Menu:",
"1 - Pizza",
"2 - Empanadas",
"3 - Milanesas",
"4 - Salir"]

for opcion in menu:
    print(opcion)

Menu:
1 - Pizza
2 - Empanadas
3 - Milanesas
4 - Salir

23) Crear una lista que contenga los números del 1 al 10

In [ ]:
lista = [1,2,3,4,5,6,7,8,9,10]

print(lista)

lista2 = list(range(1,11))

print(lista2)

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [9]:
print(menu[3])

3 - Milanesas

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [10]:
menu[2] = "Matias"

print(menu)

['Menu:', '1 - Pizza', 'Matias', '3 - Milanesas', '4 - Salir']

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [ ]:
Matriz = [["A","B","C"],["D","E","F"],["G","H","I"]]

27) Imprimir la matriz creada en el punto 26

In [ ]:
Matriz = [["A","B","C"],["D","E","F"],["G","H","I"]]

for filas in Matriz:
    print(filas)

28) Modificar la letra E de la matriz y colocar la letra Z

In [ ]:
Matriz = [["A","B","C"],["D","E","F"],["G","H","I"]]

Matriz[1]=["D","Z","F"]

for filas in Matriz:
    print(filas)

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [ ]:
Matriz = [["A","B","C"],["D","E","F"],["G","H","I"]]

Matriz[0]=[1,2,3]

for filas in Matriz:
    print(filas)

30) Crear una tupla que contenga 5 marcas de ropa

In [ ]:
Tupla = ("Gucci", "Prada", "Nike","Adidas","Puma")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [ ]:
Tupla = ("Gucci", "Prada", "Nike","Adidas","Puma")

print(Tupla[0])

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [11]:
Tupla = ("Gucci", "Prada", "Nike","Adidas","Puma")

Tupla[1] = "Rebook"
#No se puede ya que las tuplas son imnutables

TypeError: 'tuple' object does not support item assignment

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [16]:
diccionario = {
    "Nombre": "Matias",
    "Apellido": "Anselmi",
    "Edad": "21",
    "Hobbies": ["Programar","Jugar al Futbol", "Airsoft"]
}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [17]:
print(diccionario["Hobbies"])

['Programar', 'Jugar al Futbol', 'Airsoft']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [18]:
diccionario["Edad"] = "27"

print(diccionario["Edad"])

27